<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" href="/webroot/vendor/bootstrap-4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webroot/css/main.min.css" />
    </head>

    <body>
        <div id="contenedor-sitio">
            <div class="loader"></div>

            <div id="menu-superior" class="menu-color">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <a href="index.html">
                                <img class="logo" src="/webroot/img/template/isologo-color-horizontal.png" alt="" />
                                <img class="logo_responsivo" src="/webroot/img/template/isologo-color.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin NAVBAR -->

            <div class="container" style="max-width: 600px">
                <div class="text-center">
                    <form class="py-5">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="name" class="form-control" id="nombre">
                            <span class="errorN"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                            <span class="errorE"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Teléfono</label>
                            <input type="password" class="form-control" id="tel">
                        </div>
                        <button type="submit" class="btn btn-primary mt-4 py-2">Submit</button>
                    </form>
                </div>
            </div>



            <footer class="oscuro">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-sm-3 mb-4 mb-sm-0 text-center">
                            <a href="#!">
                                <img src="/webroot/img/template/logo-footer.svg" alt="Vacker" class="logo-footer" />
                            </a>
                        </div>

                        <div class="col-6 col-sm-3 mb-4 mb-sm-0 order-2 ml-4 ml-md-0">
                            <h3 class="titulo-footer d-none d-md-block">Contacto</h3>
                            <ul>
                                <li><a href="#!">(0341) 301 5966</a></li>
                                <li>Moreno 1801, Piso 2</li>
                                <li>Rosario, Santa fe</li>
                                <li><a href="#!">info@vacker.com</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-3 mb-4 mb-sm-0 d-md-block">
                            <h3 class="titulo-footer d-md-block d-none">Seguinos</h3>
                            <ul class="redes">
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone=5493417182512&text=&source=&data="><i
                                            class="ion-social-whatsapp-outline"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/vackernegociosinmobiliarios"><i
                                            class="ion-social-facebook-outline"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/vackernegociosinmobiliarios/"><i
                                            class="ion-social-instagram-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="d-none d-md-block col-4 col-sm-3 mb-4 mb-sm-0">
                            <h3 class="titulo-footer">Menú</h3>
                            <ul class="menu">
                                <li><a href="#!">Propiedades</a></li>
                                <li><a href="#!">Terrenos</a></li>
                                <li><a href="#!">Tasación</a></li>
                                <li><a href="#!">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- 
            <a id="scroll-top" class="scroll-top" href="#menu-color">
                <i class="ion-chevron-up"></i>
            </a> -->
        </div>

        <script src="main.js"></script>
    </body>

</html>