<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <meta name="description" content="Template Vacker" />
        <meta name="author" content="Syloper" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />

        <title>Vacker Inmobiliaria</title>

        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" href="/webroot/vendor/bootstrap-4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webroot/css/main.min.css" />
    </head>

    <body>
        <div id="contenedor-sitio">
            <div class="loader"></div>

            <div id="menu-superior" class="menu-color">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <a href="#!">
                                <img class="logo" src="/webroot/img/template/isologo-color-horizontal.png" alt="" />
                                <img class="logo_responsivo" src="/webroot/img/template/isologo-color.png" alt="" />
                            </a>
                        </div>

                        <div class="col-auto">
                            <nav class="text-center">
                                <a href="#!" id="cerrar-menu">
                                    <i class="ion-close"></i>
                                </a>
                                <ul>
                                    <li><a href="index.html">Propiedades</a></li>
                                    <li><a href="terrenos.html" class="active">Terrenos</a></li>
                                    <li><a href="tasacion.html">Tasación</a></li>
                                    <li><a href="contactanos.html">Contactános</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="text-center text-lg-right d-flex align-items-center">
                            <a href="#!" id="abrir-menu" class="mr-3">
                                <i class="ion-navicon"></i>
                            </a>
                            <a href="#!" id="whatsapp-menu">
                                <i class="ion-social-whatsapp-outline"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <section class="seccion-blanca sin-padding" id="seccion-terrenos">
                <div class="container intro-pagina">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Terrenos en venta</h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="#!" class="btn">Ver en el mapa</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sin-padding" id="seccion-busqueda">
                <div class="container">
                    <div class="row">
                        <!-- Filtros -->
                        <div class="col-sm-3">
                            <h2>Búsqueda avanzada</h2>
                            <div class="box box-filtros-seleccionados">
                                <h3>Filtros</h3>
                                <ul>
                                    <li>
                                        <a href="#!"><i class="ion-close"></i> En construcción</a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="ion-close"></i> Gas natural</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="box box-precio">
                                <h3>Precio</h3>
                                <div class="row">
                                    <div class="col-auto">
                                        <input type="radio" id="checkbox1" name="moneda" />
                                        <label for="checkbox1"><span></span>$</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="radio" id="checkbox2" name="moneda" />
                                        <label for="checkbox2"><span></span>U$S</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="Desde $" />
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="Hasta $" />
                                    </div>
                                </div>

                                <button class="btn btn-block">Aplicar</button>
                            </div>

                            <div class="row">
                                <div class="col-6 box box-lista">
                                    <h3>Localidad</h3>
                                    <ul>
                                        <li><a href="#!">Alvear</a></li>
                                        <li><a href="#!">Pérez</a></li>
                                        <li><a href="#!">Villa Amelia</a></li>
                                        <li><a href="#!">Pueblo Esther</a></li>
                                    </ul>
                                </div>

                                <div class="col-6 box box-lista">
                                    <h3>Etapa</h3>
                                    <ul>
                                        <li><a href="#!">En construcción</a></li>
                                        <li><a href="#!">Terminado</a></li>
                                        <li><a href="#!">Más de 5 años</a></li>
                                    </ul>
                                </div>

                                <div class="col-6 box box-lista">
                                    <h3>Superficie</h3>
                                    <ul>
                                        <li><a href="#!">Desde 240m2 a 300m2</a></li>
                                        <li><a href="#!">Desde 300m2 a 420m2</a></li>
                                    </ul>
                                </div>

                                <div class="col-7 box box-lista d-none d-md-block">
                                    <h3>Características</h3>
                                    <ul>
                                        <li><a href="#!">Red de agua potable</a></li>
                                        <li><a href="#!">Alumbrado público</a></li>
                                        <li><a href="#!">Red eléctrica</a></li>
                                        <li><a href="#!">Forestación planificada</a></li>
                                        <li><a href="#!">Estabilizado de escoria</a></li>
                                        <li><a href="#!">Gas natural</a></li>
                                        <li><a href="#!">Cordón cuneta</a></li>
                                        <li><a href="#!">Cloacas</a></li>
                                        <li><a href="#!">Calles pavimentadas</a></li>
                                        <li><a href="#!">WIFI</a></li>
                                        <li><a href="#!">Espacios recreativos</a></li>
                                        <li><a href="#!">Circuito deportivo</a></li>
                                        <li><a href="#!">Gimnasio</a></li>
                                        <li><a href="#!">Cámaras de seguridad</a></li>
                                        <li><a href="#!">Isla de residuos</a></li>
                                        <li><a href="#!">Bicisenda</a></li>
                                        <li><a href="#!">Mobiliario urbano</a></li>
                                        <li><a href="#!">Plaza para mascotas</a></li>
                                        <li><a href="#!">Paseo comercial</a></li>
                                        <li><a href="#!">Totem solar</a></li>
                                        <li><a href="#!">En construcción</a></li>
                                        <li><a href="#!">Posesión inmediata</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--------- <h3> caracteristiscas en MOBILE ---------->

                        <div class="dropdown d-md-none  mx-auto my-3  my-md-none">
                            <button class="btn btn-caracteristicas dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Mas Características
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a href="#!">Red de agua potable</a></li>
                                <li><a href="#!">Alumbrado público</a></li>
                                <li><a href="#!">Red eléctrica</a></li>
                                <li><a href="#!">Forestación planificada</a></li>
                                <li><a href="#!">Estabilizado de escoria</a></li>
                                <li><a href="#!">Gas natural</a></li>
                                <li><a href="#!">Cordón cuneta</a></li>
                                <li><a href="#!">Cloacas</a></li>
                                <li><a href="#!">Calles pavimentadas</a></li>
                                <li><a href="#!">WIFI</a></li>
                                <li><a href="#!">Espacios recreativos</a></li>
                                <li><a href="#!">Circuito deportivo</a></li>
                                <li><a href="#!">Gimnasio</a></li>
                                <li><a href="#!">Cámaras de seguridad</a></li>
                                <li><a href="#!">Isla de residuos</a></li>
                                <li><a href="#!">Bicisenda</a></li>
                                <li><a href="#!">Mobiliario urbano</a></li>
                                <li><a href="#!">Plaza para mascotas</a></li>
                                <li><a href="#!">Paseo comercial</a></li>
                                <li><a href="#!">Totem solar</a></li>
                                <li><a href="#!">En construcción</a></li>
                                <li><a href="#!">Posesión inmediata</a></li>
                            </div>
                        </div>

                        <!-- // Filtros -->

                        <!-- Resultados -->
                        <div class="col-sm-9">
                            <div class="contenedor-resultados">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="resultado">
                                            <div class="imagen">
                                                <a href="#!">
                                                    <span>Ampliar</span>
                                                </a>
                                                <img src="/webroot/img/template/back1.jpg" alt="Resultado 1" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Desde 300m2</span>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <span>USD 24.750</span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>ECOPUEBLO | ALVEAR</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="resultado">
                                            <div class="imagen">
                                                <a href="#!">
                                                    <span>Ampliar</span>
                                                </a>
                                                <img src="/webroot/img/template/back2.jpg" alt="Resultado 2" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Desde 300m2</span>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <span>USD 24.750</span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>ECOVIDA | VILLA AMELIA</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="resultado">
                                            <div class="imagen">
                                                <a href="#!">
                                                    <span>Ampliar</span>
                                                </a>
                                                <img src="/webroot/img/template/back3.jpg" alt="Resultado 3" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Desde 300m2</span>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <span>USD 24.750</span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>ECOTIERRA | PUEBLO ESTHER</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="resultado">
                                            <div class="imagen">
                                                <a href="#!">
                                                    <span>Ampliar</span>
                                                </a>
                                                <img src="/webroot/img/template/back4.jpg" alt="Resultado 4" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Desde 300m2</span>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <span>USD 24.750</span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>LOS LAPACHOS | PÉREZ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="resultado">
                                            <div class="imagen">
                                                <a href="#!">
                                                    <span>Ampliar</span>
                                                </a>
                                                <img src="/webroot/img/template/back1.jpg" alt="Resultado 1" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Desde 300m2</span>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <span>USD 24.750</span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>LOS LAPACHOS II | PÉREZ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="resultado">
                                            <div class="imagen">
                                                <a href="#!">
                                                    <span>Ampliar</span>
                                                </a>
                                                <img src="/webroot/img/template/back2.jpg" alt="Resultado 2" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Desde 300m2</span>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <span>USD 24.750</span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span>LOS TRONCALES | ALVEAR</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- // Resultados -->
                    </div>
                </div>
            </section>

            <section class="seccion-blanca d-none d-md-block" id="seccion-form-contacto">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-12">
                            <h2 class="titulo-seccion">Contacto</h2>
                        </div>
                    </div>

                    <form action="" id="form-contacto-inicio">
                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <input class="form-control" type="text" placeholder="Nombre y apellido" />
                                <input class="form-control" type="text" placeholder="E-mail" />
                                <input class="form-control" type="text" placeholder="Teléfono" />
                            </div>
                            <div class="col-sm-4">
                                <textarea name="" id="" class="form-control"
                                    placeholder="Dejanos tu mensaje"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-1">
                            <div class="col-sm-8 text-md-right text-center d-none d-md-block">
                                <button type="submit" class="btn">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <div class="triangulo noselect text-center text-md-left">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-none">
                            <img src="/webroot/img/template/triangulo.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <footer class="oscuro">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-sm-3 mb-4 mb-sm-0 text-center">
                            <a href="#!">
                                <img src="/webroot/img/template/logo-footer.svg" alt="Vacker" class="logo-footer" />
                            </a>
                        </div>

                        <div class="col-6 col-sm-3 mb-4 mb-sm-0 order-2 ml-4 ml-md-0">
                            <h3 class="titulo-footer d-none d-md-block">Contacto</h3>
                            <ul>
                                <li><a href="#!">(0341) 301 5966</a></li>
                                <li>Moreno 1801, Piso 2</li>
                                <li>Rosario, Santa fe</li>
                                <li><a href="#!">info@vacker.com</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-3 mb-4 mb-sm-0 d-md-block">
                            <h3 class="titulo-footer d-md-block d-none">Seguinos</h3>
                            <ul class="redes">
                                <li>
                                    <a href="#!"><i class="ion-social-whatsapp-outline"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="ion-social-facebook-outline"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="ion-social-instagram-outline"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="d-none d-md-block col-4 col-sm-3 mb-4 mb-sm-0">
                            <h3 class="titulo-footer">Menú</h3>
                            <ul class="menu">
                                <li><a href="#!">Propiedades</a></li>
                                <li><a href="#!">Terrenos</a></li>
                                <li><a href="#!">Tasación</a></li>
                                <li><a href="#!">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

            <a id="scroll-top" class="scroll-top" href="#!">
                <i class="ion-chevron-up"></i>
            </a>
        </div>

        <script type="text/javascript" src="/webroot/js/jquery-3.2.1.min.js"></script>
        <!-- <script src="js/popper.min.js"></script> -->
        <script type="text/javascript" src="/webroot/vendor/bootstrap-4.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/webroot/js/vacker.min.js"></script>

        <!-- TO USE POPPER(dropdowns) copy these 3 scripts! -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    </body>

</html>