.btn {
    background-color: #d22327;
    color: white;
    border-radius: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 3rem;

    // .btn .btn-eco-mobile {
    //     background-color: #d22327;
    //     color: white;
    //     border-radius: 0;
    //     font-size: 1rem;
    //     text-transform: uppercase;
    //     font-weight: 600;
    //     margin-left: 50px !important;
    // }
}