#contenedor-sitio {
    position: relative;
    height: 100%;
    overflow: hidden;

    .loader {
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 0;
        left: 0;
        z-index: 2000;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        visibility: visible;
        opacity: 1;
    }

    &.loaded {
        .loader {
            visibility: hidden;
            opacity: 0;
        }
        .cajas {
            transform: scale(1);
        }
    }
    
}

.cajas {
    
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(.7);
    
    nav {
        &#menu {
            position: relative;
            width: 100%;
            background: $color-alma;
            height: 90px;
            //padding: 10px 30px;

            .contenedor-logo {
                display: inline-block;
                width: 250px;
                text-align: center;
                padding: 7px 20px;
                img.logo-menu {
                }
            }

            .contenedor-icono {
                display: inline-block;
                a {
                    color: white;
                    display: block;
                    font-size: 1.5rem;
                    width: 40px;
                    height: 40px;
                    border: 2px solid white;
                    border-radius: 50%;
                    text-align: center;
                    font-weight: 800;
                }
            }
        }
    }

    aside {
        &#selector-filtros {
            position: absolute;
            top: 90px;
            height: calc(100% - 90px);
            width: 250px;
            background-color: #d4d4d4;
            padding: 50px 20px;
            .filtro {
                position: relative;
                h4 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.1rem;
                }
                select {
                    width: 100%;
                }
                hr {
                    margin: 30px 0;
                }
                a.avanzar {
                    color: white;
                    float: right;
                    font-size: 1.1rem;
                    width: 25px;
                    height: 25px;
                    border: 2px solid white;
                    border-radius: 50%;
                    text-align: center;
                }
            }
        }
        
    }

    section {
        // Cajas full-width que se compactan cuando se seleccionan
        &.caja {

            position: absolute;
            float: left;
            overflow: hidden;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center;

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                background-color: #41786566;
            }
            
            transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);

            .opcion_seleccionada {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                color: white;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                p {
                    position: absolute;
                    width: 75px;
                    height: 40px;
                    white-space: nowrap;
                    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    font-weight: 800;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                    bottom: 15%;
                    margin: 0;
                }
            }

            &.oculta {
                transform: translateX(100%);
            }
            
            &.completa {
                // transform: translateX();
                width: 75px !important;
                //box-shadow: inset -6px 10px 12px 1px rgb(0, 0, 0);
                box-shadow: inset -3px -2px 7px -1px rgba(0,0,0,0.8);

                .contenido-caja {
                    display: none;
                }

                .opcion_seleccionada {
                    opacity: 1;
                    visibility: visible;
                    p {
                        bottom: 5%;
                    }
                }

            }
            
            &:nth-child(1) {
                // background: red;
                &.activa, &.completa {
                    transform: translateX(0);
                }
                &.completa {
                    .overlay {
                        background-color: #266650ab;
                    }
                }
            }
            
            &:nth-child(2) {
                // background: yellowgreen;
                &.activa, &.completa {
                    transform: translateX(75px);
                    width: calc(100% - 75px);
                }
                &.completa {
                    .overlay {
                        background-color: #264266ab;
                    }
                }
            }
            
            &:nth-child(3) {
                // background: green;
                &.activa, &.completa {
                    transform: translateX(150px);
                    width: calc(100% - 150px);
                }
            }







            
    
        }

        // Contenido tipo WIKI del alzheimer
        &.wiki {
            overflow: auto;

            img {
                max-width: 100%;
                &.logo-contenido {
                    margin-bottom: 30px;
                }
            }

            .contenido-caja {
                padding: 50px 0 80px;
            }

            .etapas {
                margin-top: 50px;
                margin-bottom: 20px;
                .etapa {
                    box-shadow: 2px 2px 3px 0px rgba(39, 39, 39, 0.4);
                    padding: 15px 25px 25px;
                    background: #e4eeff;
                    margin-bottom: 30px;
                    border-radius: 5px;
                    h3 {
                        font-weight: 700;
                        font-size: 1.3rem;
                        text-align: center;
                        margin: 25px 0;
                    }
                }
            }
            
            ul {
                padding-left: 15px;
                li {
                    margin-bottom: 5px;
                }
            }

            .alerta {
                // color: white;
                box-shadow: 2px 2px 3px 0px rgba(39, 39, 39, 0.4);
                background: #fbc1c1;
                margin-bottom: 30px;
                border-radius: 5px;
                padding: 30px;
                h3 {
                    text-align: center;
                    font-weight: 700;
                    margin-bottom: 30px;
                    font-size: 1.6rem;
                }
            }
            
            .sugerencias {
                //color: white;
                box-shadow: 2px 2px 3px 0px rgba(39, 39, 39, 0.4);
                background: #bdf3a9;
                margin-bottom: 30px;
                border-radius: 5px;
                padding: 30px;
                h3 {
                    text-align: center;
                    font-weight: 700;
                    margin-bottom: 30px;
                    font-size: 1.6rem;
                }
            }

            .tips {
                margin-bottom: 20px;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        margin-bottom: 20px;
                    }
                }
                h3 {
                    text-align: center;
                    font-weight: 700;
                    margin-bottom: 30px;
                    font-size: 1.6rem;
                }
            }

            .sub {
                h3 {
                    text-align: center;
                    font-weight: 700;
                    margin-bottom: 10px;
                    font-size: 1.6rem;
                }
                p {
                    text-align: center;
                }
            }

            .signo {
                box-shadow: 2px 2px 3px 0px rgba(39, 39, 39, 0.4);
                padding: 15px 25px 25px;
                background: #e4eeff;
                margin-bottom: 30px;
                border-radius: 5px;
                h3 {
                    font-weight: 700;
                    font-size: 1.3rem;
                    text-align: center;
                    margin: 25px 0;
                }
            }
        }
    }

    main {
        position: absolute;
        height: calc(100% - 90px);
        width: calc(100% - 250px);
        left: 250px;
        top: 90px;
        background-color: #ffffff;
        padding: 30px;
        box-shadow: inset 0px 0px 10px -6px rgba(0,0,0,0.8);
        overflow-y: auto;


        &.encontrados {
            #buscando {
                visibility: hidden;
                opacity: 0;
            }
            #resultados {
                transform: scale(1);
            }
        }

        #buscando {
            position: absolute;
            width: 100%;
            height: 100%;
            background: white;
            top: 0;
            left: 0;
            z-index: 2000;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            visibility: visible;
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #resultados {
            
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: scale(.7);


            .publica {
                position: relative;
                margin-bottom: 30px;
                padding: 20px;
                text-align: center;
                background-color: #3fa1cf;
                color: white;
                font-weight: 700;
                font-size: 1rem;
                box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.49);
                cursor: pointer;
                user-select: none;
            }
    
            .tarjeta {
                background-color: #f2f2f2;
                box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.49);
                margin-bottom: 30px;
                padding: 10px 20px;
                border: 1px solid rgba(0,0,0,.1);
    
                h3 {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
    
                p{
                    font-size: .9rem;
                    &.historia{
                        
                    }
    
                    &.by{
                        padding-top: 20px;
                        text-align: right;
                    }
                }
            }
        }
    }

}