// ecotierra caracteristicas mobile
@media(max-width: 522px) {
    .sin-padding-ecotierra {
        margin-top: -180px !important;
    }
}

// 
@media(max-width: 522px) {
    .sin-padding-terrenos {
        margin-top: -150px !important;
    }
}

// cordoba btn servicios mobile
@media(max-width: 700px) {
    .btn-servicios-mobile {
        margin-top: -120px;
    }
}