
// --- Colores --- //
$color-logo: #d22327;
$color-logo-oscuro: #ac1717;
$color-oscuro: #232323;

$color-borde: #aeaeae;
$color-texto-oscuro: #504e50;

$color-whatsapp: #25D366;


// --- Mixins --- //


// --- Tipografias --- //


// Placeholder
@mixin placeholder {
     ::-webkit-input-placeholder {
        @content;
    }
     :-moz-placeholder {
        @content;
    }
     ::-moz-placeholder {
        @content;
    }
     :-ms-input-placeholder {
        @content;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}